# Heatmaps

## Setup

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Import weather data as DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Marawi,PH,2021-07-21 15:15:15,7.9986,124.2928,69.37,88,100,5.91
1,1,Teguldet,RU,2021-07-21 15:15:16,57.3064,88.1667,62.44,73,56,2.59
2,2,Klaksvik,FO,2021-07-21 15:15:16,62.2266,-6.5890,54.52,89,7,11.65
3,3,Reoti,IN,2021-07-21 15:15:17,25.8500,84.3833,88.03,72,99,2.35
4,4,Davila,PH,2021-07-21 15:15:17,18.4726,120.5763,80.28,86,99,23.76

In [3]:
# Confirm data types for quantitative variables
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

## Create Heatmaps

### Maximum Temperature Heatmap

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.45)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=250, point_radius=4.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
# Get the percent humidity.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.45)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=250, point_radius=4.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Cloudiness Heatmap

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
# Get the percent humidity.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.45)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness,
                                dissipating=False, max_intensity=250, point_radius=4.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Wind Speed Heatmap

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
# Get the percent humidity.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.45)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
                                dissipating=False, max_intensity=250, point_radius=4.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Reoti,IN,2021-07-21 15:15:17,25.8500,84.3833,88.03,72,99,2.35
4,4,Davila,PH,2021-07-21 15:15:17,18.4726,120.5763,80.28,86,99,23.76
8,8,Kijang,KR,2021-07-21 15:15:19,35.2442,129.2139,76.39,89,100,10.49
11,11,Kapaa,US,2021-07-21 15:15:20,22.0752,-159.3190,77.32,84,40,3.00
15,15,Teruel,ES,2021-07-21 15:15:22,40.6667,-0.6667,89.08,24,45,10.85
20,20,Qui Nhon,VN,2021-07-21 15:15:25,13.7667,109.2333,83.97,69,100,18.30
24,24,Hamilton,US,2021-07-21 15:15:27,39.1834,-84.5333,76.98,85,90,1.01
26,26,Hithadhoo,MV,2021-07-21 15:15:28,-0.6000,73.0833,82.71,75,100,15.50
29,29,Acajutla,SV,2021-07-21 15:15:29,13.5928,-89.8275,88.81,56,3,0.81
30,30,Albany,US,2021-07-21 15:15:17,42.6001,-73.9662,75.72,75,46,1.01

## Map Vacation Criteria

### Get Travel Destinations

In [11]:
# Create DataFrame to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
3       Reoti      IN     88.03  25.8500   84.3833
4      Davila      PH     80.28  18.4726  120.5763
8      Kijang      KR     76.39  35.2442  129.2139
11      Kapaa      US     77.32  22.0752 -159.3190
15     Teruel      ES     89.08  40.6667   -0.6667
20   Qui Nhon      VN     83.97  13.7667  109.2333
24   Hamilton      US     76.98  39.1834  -84.5333
26  Hithadhoo      MV     82.71  -0.6000   73.0833
29   Acajutla      SV     88.81  13.5928  -89.8275
30     Albany      US     75.72  42.6001  -73.9662

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.